.blogs-bg {
    background-image: url("http://strikers.ae/wp-content/uploads/2017/02/about-us-parallax-1.jpg");
    background-attachment: fixed;
}

.blogs-status {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 9rem 0;
}

.bold-font {
    font-size: 3rem !important;
    font-weight: bolder;
}